/* Lato Thin */
@font-face {
	font-family: 'Lato';
	src: url('./Lato-Thin.ttf');
	font-weight: 100;
	font-style: normal;
}

/* Lato Thin Italic */
@font-face {
	font-family: 'Lato';
	src: url('./Lato-ThinItalic.ttf');
	font-weight: 100;
	font-style: italic;
}

/* Lato Light */
@font-face {
	font-family: 'Lato';
	src: url('./Lato-Light.ttf');
	font-weight: 300;
	font-style: normal;
}

/* Lato Light Italic */
@font-face {
	font-family: 'Lato';
	src: url('./Lato-LightItalic.ttf');
	font-weight: 300;
	font-style: italic;
}

/* Lato Regular */
@font-face {
	font-family: 'Lato';
	src: url('./Lato-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}

/* Lato Italic */
@font-face {
	font-family: 'Lato';
	src: url('./Lato-Italic.ttf');
	font-weight: 400;
	font-style: italic;
}

/* Lato Bold */
@font-face {
	font-family: 'Lato';
	src: url('./Lato-Bold.ttf');
	font-weight: 700;
	font-style: normal;
}

/* Lato Bold Italic */
@font-face {
	font-family: 'Lato';
	src: url('./Lato-BoldItalic.ttf');
	font-weight: 700;
	font-style: italic;
}

/* Lato Black */
@font-face {
	font-family: 'Lato';
	src: url('./Lato-Black.ttf');
	font-weight: 900;
	font-style: normal;
}

/* Lato Black Italic */
@font-face {
	font-family: 'Lato';
	src: url('./Lato-BlackItalic.ttf');
	font-weight: 900;
	font-style: italic;
}
